<div class="container1">
    @model SpangenbergProject.Models.Customer.CustomerModel
    <div class="leftContainer divider-column">
        <h3>
            Här kan ni göra en förfrågan om att boka tid hos oss, när vi tittat igenom vad ni önskar
            <br />
            för tid och datum så återkommer vi till er.
            <br />
            Mvh Erik och Lotta Spangenberg
        </h3>
    </div>
    <div class="middleContainer divider-column">
        <form asp-action="BookingForPrivate" asp-controller="Form">
            <label asp-for="firstName">Förnamn:</label><br />
            <input asp-for="firstName" placeholder="Förnamn" /><br /><br />
            <label asp-for="lastName">Efternamn:</label> <br />
            <input asp-for="lastName" placeholder="Efternamn" /><br /><br />
            <label asp-for="email">E-post:</label><br />
            <input asp-for="email" placeholder="E-postaddress" /><br /><br />
            <label asp-for="dtm">Datum: </label> <br />
            <input type="text" id="datepicker"><br /><br />
            <label asp-for="tme">Vilken tid:</label><br />
            <input type="time" /> <br /><br />
            <button type="submit" class="btn btn-dark" id="datepicker">Skicka</button>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datepicker();
        });
    </script>
</div>
