@model SpangenbergProject.Models.Customer.Booking
<div class="container1">
    <h3>
        Här kan ni göra en förfrågan om att boka tid med oss.<br />
        Vänligen skriv ner den information vi ber om, så återkommer vi <br />
        inom kort. Med vänlig hälsning Erik Spangenberg och Lotta Spangenberg.
    </h3>
    <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Förnamn:</label>
                        <input type="text" class="form-control" name="FirstName" id="FirstName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Efternamn:</label>
                        <input type="text" class="form-control" name="LastName" id="LastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Email:</label>
                        <input type="text" class="form-control" name="Email" id="Email">
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label class="control-label">Välj datum:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" placeholder="Skicka">
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>