<div class="subcontainer1">
    <h2>OM OSS</h2>
    <hr />
    @Html.ActionLink("Erik Spangenberg", "ErikSpangenberg", "Private", null, new { @class = "link" })
    <br />
    @Html.ActionLink("Lotta Wiberg Spangenberg", "LottaWibergSpangenberg", "Private", null, new { @class = "link" })
</div>

<div class="subcontainer2 divider-column">
    <h2>ERIK SPANGENBERG</h2>
    <br />
    <br />
    <p>
        Erik har arbetat i mer än 20 år som organisationspsykolog och har en bred och gedigen erfarenhet av vad som påverkar och driver
        människor inom fältet arbete och organisation.
        Erik har arbetat inom ett brett spektrum av branscher inom såväl offentlig som privat verksamhet, och med små och stora bolag.
    </p>
        <br />
        <p>
            Erik har under åren framförallt arbetat med ledarskap, inom områden som ledarurval, ledarstöd och utveckling av ledningsgrupper.
            Hans erfarenheter omfattar även teamutveckling, konflikthantering och stöd i förändringsprocesser.
        </p>
        <br />
        <p>
            Erik är utbildad och certifierad inom en mängd olika metoder och instrument relaterade till området – utgångspunkten
            i hans arbete är att med beprövad erfarenhet tillsammans med uppdragsgivaren formulera behov, problem och målbild,
            för att därefter skräddarsy en insats.
        </p>
        <br />
        <p>
            Erik beskrivs i sin konsultroll som lyhörd, lösningsfokuserad och resultatorienterad;
            han har en förmåga att skapa stort förtroende hos uppdragsgivare och arbetsgrupper med
            tillit till att förändring är möjlig, också i mycket svåra situationer.
        </p>
</div>
<div class="subcontainer3 divider-column">
    <img src="~/images/Erik.jpg" width="350" height="500" />
</div>