<div class="subcontainer1">
    @Html.ActionLink("OM OSS", "About", "Home", null, new { @class = "link" })
    <hr />
    @Html.ActionLink("Erik Spangenberg", "ErikSpangenberg", "Private", null, new { @class = "link" })
    <br />
    @Html.ActionLink("Lotta Wiberg Spangenberg", "LottaWibergSpangenberg", "Private", null, new { @class = "link" })
</div>

<div class="subcontainer2 divider-column">
    <h2>LOTTA WIBERG SPANGENBERG</h2>
    <br />
    <br />
    <p>
        Lotta har arbetat 16 år som chef med olika uppdrag inom Stockholms läns landsting –
        alltid med fokus på förändrings- och utvecklingsarbete. Hon har stor erfarenhet av att starta nya vårdverksamheter – såväl
        kliniska som forskningsbaserade - och att arbeta med samverkans- och konfliktfrågor i ett landstingsövergripande perspektiv.
    </p>
        <br />
        <p>
            Under åren som verksamhetschef inom BUP har hon haft ett stort engagemang kring att skapa förutsättningar för chefs- och
            ledarskapsutveckling och därmed möjliggöra ett kvalitativt förändringsarbete inom såväl ledningsgrupper som inom team och
            arbetsgrupper. Hon drivs av att stödja chefer att både utveckla och vila i sin kompetens, klokskap och kreativitet.
        </p>
        <br />
    <p>
        Lotta har i sin chefsroll beskrivits som å ena sidan analytisk, strukturerad och drivande, å andra sidan lyhörd,
        lösningsfokuserad och varm. Lottas utgångspunkt i konsultrollen är att förmedla pragmatism – tillsammans kan vi göra nytt(a)!
        Varje uppdrag måste utgå från en gedigen analys av verksamhetens och individens specifika behov och sammanhang.
    </p>
</div>
<div class="subcontainer3 divider-column">
    <img src="~/images/Lotta.jpg" width="350" height="500" />
</div>