body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: slategrey;
    font-family:Georgia;
}

h2 {
    text-align: center;
    color: slategrey;
    font-family: Georgia;
}

h3 {
    text-align: center;
    color: slategrey;
    font-family: Georgia;
}
p{
    text-align:center;
    color:slategrey;
    font-family:Georgia;
}
.link{
    color:slategrey;
    font-family:Georgia;
    font-size:35px;
}

.introduction {
    text-align: center;
    color: slategrey;
    font-size: 20px;
}

.container1{
    width:100%;
    position:absolute;
    float:left;
}
.subcontainer1{
    position:relative;
    width:25%;
    float:left;
   
}
.divider-column{
    float: left;
    width:10%;
    margin-right:5%;
    overflow:hidden;
}

.subcontainer2{
   position:relative;
   width: 25%;
   float:left;
}
.subcontainer3{
    position:relative;
    width:25%;
    float:left;
    
}
.footerContainer{
    position:relative;
    width:70%;
    
}
.linkedInContainer {
    position: relative;
    width: 30%;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.clearfix {
    overflow: auto;
}

.image {
    height: 50px;
    width: 350px;
    top: 1px;
    left: 5px;
}
