<div class="subcontainer1">
    dansa pausa
</div>
<div class="subcontainer2">
    <p class="introductionAboutUs">
        <h1>
            SPANGENBERG KONSULTATION
        </h1>
        <br />
        Spangenberg Konsultation har över 15 års erfarenhet av att leda, utveckla och förändra organisationer – i roller som chef och organisationspsykolog.
        <br>
        <br>
        Vi har en bred erfarenhet från såväl offentliga organisationer som privat
        näringsliv inom ett brett spektrum av verksamheter.
        <br>
        <br />
        Vi utgår från ett systemteoretiskt perspektiv och använder vetenskapligt
        beprövade metoder för utveckling av individ och grupp.
        <br>
        <br />
        Ledord i våra uppdrag är begrepp som ”nytta”, ”funktion” och ”beprövad
        erfarenhet” – varje insats skall ha ett syfte och vara meningsfullt utifrån
        verksamhetens och individens specifika behov och sammanhang.
        <br>
        <br />
        Erik och Lotta är båda legitimerade psykologer.
    </p>
</div>
<div class="subcontainer3">
    <img src="~/images/Omoss.jpg" width="350" height="500" />
</div>





