<div class="subcontainer1">
    <h2>FÖRETAG</h2>
    <hr />
    @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })
    @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })
    @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })
    @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })
