<div class="subcontainer1">
    <h2>PRIVATPERSON</h2>
    <hr />
    @Html.ActionLink("BOKNING", "BookingForPrivate", "Private", null, new { @class = "link" })
</div>
<div class="subcontainer2">
    <p>
        Erik och Lotta har båda erfarenhet av att arbeta med samtalsstöd och behandling; Erik är utbildad inom KBT och ACT och Lotta har arbetat många år som barn- och föräldrapsykolog.
    </p>
    <p>
        Vi erbjuder psykologisk konsultation/samtalskontakt för privatpersoner, individuellt, som par eller familj.</p>
        <p>Exempel på vad vi kan hjälpa er med är:
    </p>
    - Krissamtal<br />
    - Stödsamtal<br />
    - Föräldrarådgivning<br />
    - Par-rådgivning<br />
</div>
<div class="subcontainer3">
    <img src="~/images/Therapy.jpg" width="250" height="400" />
</div>