<div class="subcontainer1">
    <h2>FÖR ATT BOKA</h2>
    <hr />
    @Html.ActionLink("BOKNING", "BookingForPrivate", "Private", null, new { @class = "link" })
</div>
<div class="subcontainer2 divider-column">
    <h2>PRIVATPERSON</h2>
    <p>
        Erik och Lotta har båda erfarenhet av att arbeta med samtalsstöd och behandling; Erik är utbildad inom KBT och ACT och Lotta har arbetat många år som barn- och föräldrapsykolog.
        Vi erbjuder psykologisk konsultation/samtalskontakt för privatpersoner, individuellt, som par eller familj.
        Exempel på vad vi kan hjälpa er med är:
        <br />
        <br />
        - Krissamtal<br />
        - Stödsamtal<br />
        - Föräldrarådgivning<br />
        - Par-rådgivning<br />
    </p>
</div>
<div class="subcontainer3">
    <img src="~/images/Therapy.jpg" width="250" height="400" />
</div>