@{ 
    ViewData["Title"] = "SPANGENBERG KONSULTATION";
}    
    <div class="container">
        <img src="~/images/ErikLotta.jpg" />
    </div>

    <h2>@ViewData["Title"]</h2>
    <br />
    <h3>MAN KAN INTE FÖRÄNDRA VERKSAMHETER UTAN ATT FÖRÄNDRA MÄNNISKOR</h3>
    <br />
    <p>
        Spangenberg Konsultation har lång erfarenhet av förändringsarbete inom privat och offentlig verksamhet -<br />
        vi hjälper organisationer att utveckla ledarskap och medarbetarskap för en hållbar förändring och en god arbetsmiljö.
        <br />
        <br />
        Vi erbjuder även psykologisk konsultation till privatpersoner
    </p>
